<ion-app>
  <!-- 사이드 메뉴 설정 -->
  <ion-menu contentId="main-content" side="start" type="overlay" class="mobile-only">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/auth">SignIn & SignUp</ion-item>
        <ion-item routerLink="/articles/list">Article List</ion-item>
        <ion-item routerLink="/team">Team</ion-item>
        <ion-item routerLink="/board">Board</ion-item>
        <ion-item routerLink="/contact">Contact</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- 네비게이션 바 -->
  

  <!-- 메인 콘텐츠 설정 -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title routerLink="/">
        Kick Off
      </ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/signup">회원가입</ion-button>
        <ion-button routerLink="/signin">로그인</ion-button>
        <ion-button routerLink="/mypage">
          <ion-icon name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
